@page "/"
@page "/{tag}"

@using NtFreX.Blog.Model
@using NtFreX.Blog.Auth
@using NtFreX.Blog.Services
@using System.Text
@using Microsoft.AspNetCore.Components.Web.Extensions.Head
@inject ArticleService articleService
@inject TagService tagService
@inject AuthorizationManager authorizationManager
@inject NavigationManager navigationManager

<Title Value='NtFreX.Blog' />

<div class="top-row">
    <h2>NtFreX's space</h2>
    <span>A small blog about programming and stuff.</span>

    @if (!string.IsNullOrEmpty(Tag))
    {
        <h6 style="margin-top: 8px; font-style: italic; color: gray;">Displaying articles with the label '@(Base64UrlDecode(Tag))'</h6>
        <NavLink href="" Match="NavLinkMatch.All">
            <span>Clear filter</span>
        </NavLink>
    }

    @if (authorizationManager.IsAdmin())
    {
        <button type="button" class="btn btn-primary" style="position:absolute;right:60px;top:50px;" @onclick="@CreateArticleAsync">Create</button>
    }
</div>

@if (articles == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var article in articles)
    {
        <ArticlePreview Article="@article" Tags="@tags" />
    }
}

@code {
    private IReadOnlyList<ArticleModel> articles;
    private IReadOnlyList<TagModel> tags;

    [Parameter] public string Tag { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        articles = string.IsNullOrEmpty(Tag)
            ? await articleService.GetAllArticlesAsync(authorizationManager.IsAdmin())
            : await articleService.GetArticlesByTagAsync(Base64UrlDecode(Tag));
        tags = await tagService.GetAllTagsAsync();
    }

    public async Task CreateArticleAsync()
    {
        var id = await articleService.CreateArticleAsync();
        navigationManager.NavigateTo($"/edit/{id}");
    }

    private string Base64UrlDecode(string value)
        => Encoding.UTF8.GetString(
                Convert.FromBase64String(
                    value
                        .Replace("_", "/")
                        .Replace("-", "+")));
}
