Resources:
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

commands:
  reroute_https_443_to_5001:
    command: "iptables -t nat -A PREROUTING -i eth0 -p tcp --dport 443 -j REDIRECT --to-port 5001"
  01_download_otel_collector:
    command: "wget https://aws-otel-collector.s3.amazonaws.com/amazon_linux/amd64/latest/aws-otel-collector.rpm"
  02_install_otel_collector:
    command: "rpm -qa | grep -qw 'aws-otel-collector' || sudo rpm -Uvh  ./aws-otel-collector.rpm"
  03_stop_otel_collector:
    command: "sudo /opt/aws/aws-otel-collector/bin/aws-otel-collector-ctl  -a stop"
  04_run_otel_collector:
    command: "sudo /opt/aws/aws-otel-collector/bin/aws-otel-collector-ctl -c /var/app/current/otel_config.yaml -a start"
