@page "/login"

@inject HttpClient Http
@inject IJSRuntime JSRuntime
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager navigationManager

@using NtFreX.Blog.Client
@using Microsoft.AspNetCore.Components.Web.Extensions.Head

<Title Value='@($"{Configuration.BlogConfiguration.BlogTitle} - Login")' />

<input @bind-value="username" type="text" />
<input @bind-value="password" type="password" />
<NtFreX.Blog.Client.Components.Recaptcha @bind-CaptchaResponse="captchaResponse" />
<button @onclick="@LoginAsync">Login</button>



@code {
    private string username;
    private string password;
    private string captchaResponse;

    protected override async Task OnParametersSetAsync()
        => await localStorage.RemoveItemAsync(JwtTokenHttpHandler.SessionStorageKey);

    private async Task LoginAsync()
    {
        var response = await Http.PostAsJsonAsync($"/api/login", new LoginCredentialsDto { Username = username, Password = password, CaptchaResponse = captchaResponse });
        await JSRuntime.InvokeVoidAsync("googleRecaptchaReset");

        if (!response.IsSuccessStatusCode)
            return;

        var token = await response.Content.ReadAsStringAsync();
        if (string.IsNullOrEmpty(token))
            return;

        await localStorage.SetItemAsStringAsync(JwtTokenHttpHandler.SessionStorageKey, token);
        navigationManager.NavigateTo("/");
    }
} 