@page "/login"

@inject HttpClient Http
@inject IJSRuntime JSRuntime
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager navigationManager

@using NtFreX.Blog.Client
@using Microsoft.AspNetCore.Components.Web.Extensions.Head

<Title Value='@($"{Configuration.BlogConfiguration.BlogTitle} - Login")' />
<Meta name="robots" content="noindex" />

<input @bind-value="username" type="text" />
<input @bind-value="password" type="password" />
<NtFreX.Blog.Client.Components.Recaptcha @bind-CaptchaResponse="captchaResponse" />
<button @onclick="@LoginAsync" disabled="@(string.IsNullOrEmpty(captchaResponse))">Login</button>



@code {
    private string username;
    private string password;
    private string captchaResponse;

    protected override async Task OnParametersSetAsync()
        => await localStorage.RemoveItemAsync(JwtTokenHttpHandler.SessionStorageKey);

    private async Task LoginAsync()
    {
        var response = await Http.PostAsJsonAsync($"/api/login", new LoginCredentialsDto { Key = username, Secret = password, Type = LoginCredentialsType.UsernamePassword, CaptchaResponse = captchaResponse });
        await JSRuntime.InvokeVoidAsync("googleRecaptchaReset");

        if (!response.IsSuccessStatusCode)
            return;

        var responseModel = await response.Content.ReadFromJsonAsync<LoginResponseDto>();
        if (!responseModel.Success)
            return;
            
        await localStorage.SetItemAsStringAsync(JwtTokenHttpHandler.SessionStorageKey, responseModel.Value);
        if (responseModel.Type == LoginResponseType.TwoFactorToken)
        {
            await localStorage.SetItemAsStringAsync(Program.TwoFactorUserTokenName, username);
            navigationManager.NavigateTo($"/twofactorlogin");
        }
        else
        {
            navigationManager.NavigateTo("/");
        }
    }
} 