@using NtFreX.Blog.Client.Pages

@inject HttpClient Http

<div>
    <div class="nav flex-column">
        <NavLink href="" Match="NavLinkMatch.All">
            <div style="color: white; text-align: center; margin: 15px 4px 15px 4px; font-family: Arial; font-size: 15px; ">
                <img height="113" width="113" src="/api/image/profile.jpg">
                <p style="font-weight: bold; margin-top: 15px; ">NTFREX'S SPACE</p>
                <p>I'm a software developer with a wide range of interests. This blog is mainly to help me improve my writing and explaining skills.</p>
                <p>ntfrex (at) gmail (dot) com</p>
            </div>
        </NavLink>

        <div class="links">
            <div><a href="https://twitter.com/NtFreX"><img src="twitter.ico" />Twitter</a></div>
            <div><a href="https://stackoverflow.com/users/6583901/ntfrex?tab=profile"><img src="stackoverflow.ico" />Stack Overflow</a></div>
            <div><a href="https://github.com/NtFreX"><img src="github.svg" />GitHub</a></div>
        </div>

        <div style="padding:4px;">
            @if (tags != null)
            {
                @foreach (var tag in tags)
                {
                    <Tag Name="@tag" />
                }
            }
        </div>
    </div>
</div>

@code {
    private string[] tags;

    protected override async Task OnInitializedAsync()
    {
        tags = await Http.GetFromJsonAsync<string[]>("/api/tag/distinctPublished");
    }
}